/* #parent
{text-align: center

} */


#root {
  /* display: inline-block; */
  /*text-align: justify;*/
  margin: 0 auto;
  width: 400px;
  height: 400px;
  margin-right:0 auto;
  margin-left: 0 auto; 
   padding-right: 10px; 
  padding-left: 10px;
    
}

/*#root::before{
  content: 'asdasdadas';
  display:inline-block;
  color:black;
}

#root::after{
  content: 'asdasdadas';
  display:inline-block;
  color:black;
}*/